html{
    background-color:  #FFFDFD;
    height: 100%; 
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    position: relative;
    background-color:#FFB703;
    border-radius:12px;
    height:3.5rem;
    min-width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between; 
    padding: 0 0.5rem;
    box-sizing:border-box;
}

.header-left{
    display:flex;
    align-items:center;
    gap:0.5rem; 
}


.back-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:44px;
    height:44px;
    border-radius:8px;
    text-decoration:none;
}

.back-btn img{
    width:44px;
    display:block;
    padding-right:1rem; 
}

.menu{
    margin:0;
    font-weight:700;
    text-decoration: none;
    color: #111111 ;
}

.logo{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    pointer-events:auto; 
    z-index: 1;        
}

.logo img{
    display:block;
    width:3.5rem; 
    height:auto;
    padding:0;      
}

.header-right{
    display:flex;
    align-items:center;
    gap:0.5rem; 
}

.locations{
    margin:1rem;
    font-weight:700;
    text-decoration: none;
    color: #111111 ;
}

.cart-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:44px;
    height:44px;
    border-radius:8px;
    text-decoration:none;
}

.cart-btn img{
    width:34px;
    display:block;
    padding-left:1rem; 
}

.burgers{
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    box-sizing: border-box;
} 

.burgers a { 
    display: block; 
    width: 60%;
    max-width: 420px;
}

.burger-card {
    position: relative;
    width: 100%;
}

.burger-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.burgers-text{
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    color: #FFB703;
    font-weight:bolder;
    font-size: clamp(2.5rem, 4vw, 2.5rem);
    margin: 0;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 1.0);  
}